<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/sign-up.css" rel="stylesheet" type="text/css" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1 class="header">Create an Account</h1>
    <p class="description">Sign up to network with others!</p>
    <hr class="hr" />
    <div class="page-content">
      <form accept="" method="post" id="signup">
        <label for="username">Username:</label>
        <br class="input-break" />
        <input class="form-label" type="text" id="username" name="username" />
        <label for="email">Email:</label>
        <br class="input-break" />
        <input class="form-label" type="text" id="email" name="email" />
        <label for="password">Password:</label>
        <br class="input-break" />
        <input class="form-label" type="text" id="password" name="password" />
        <label for="bio">Bio:</label>
        <br class="input-break" />
        <input class="form-label" type="text" id="bio" name="bio" />
      </form>
    </div>
    <div class="page-buttons">
      <a href="/">
        <input type="button" class="btn" value="Home" />
      </a>
      <a href="/login-page">
        <input type="button" class="btn" value="Login" />
      </a>
    </div>
  </body>
</html>
